@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  list-style: none;
  text-decoration: none;
}

.container-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/***** ESTILOS PARA VALIDACIÓN ******/

.formulario-incorrecto {
  color: #bb2929;
  border: 2px;
}

.formulario-correcto {
  color: #1ed12d;
  opacity: 1;
}

.mensaje-error {
  display: none;
}

.error {
  display: flex;
  color: red;
}

/***** HEADER ******/

.header {
  width: 100%;
  height: 7vh;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f37bc3;
  border-bottom: 0.5px solid rgb(228, 227, 227);
}

.header .logo img {
  width: 10%;
  position: relative;
  left: 3rem;
  filter: drop-shadow(2px 2px 2px black);
}

.header .navbar {
  width: 47%;
}

.header .navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.header .navbar nav ul li a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  display: inline-block;
  position: relative;
}

.header .navbar nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.header .navbar nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header .navbar nav ul li a:hover {
  color: #ffffff;
}

/****** AREA PRINCIPAL *******/

#principal-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../images/wave-9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgb(238,158,225);
  background: radial-gradient(circle, rgba(238,158,225,0.9094012605042017) 0%, rgba(255,255,255,1) 99%); */
}

.container-principal {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container-tittle {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.container-tittle h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}

.container-tittle h1 span {
  color: #f359b5;
}

.container-tittle p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.container-image {
  width: 50%;
}

.container-image img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

/****** AREA DE INFORMACIÓN *******/

#info-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../images/wave-9.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#info-area .content-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  margin-top: 7rem;
}

.content-info .tittle-info {
  font-size: 2.3rem;
  letter-spacing: 1px;
  text-decoration: underline;
}

.content-info .tittle-info span {
  color: rgb(206, 13, 206);
  text-decoration: underline;
}

.text-info {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(235, 233, 233)),
    url(../images/wave-10.svg) center/cover;
  padding: 2rem;
  display: flex;
  font-size: 1.28rem;
  font-weight: 600;
  text-align: justify;
  letter-spacing: 1px;
}

/********* AREA DE CONTACTO **********/

#contact-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../images/wave-10.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content-contact h2 {
  font-size: 3rem;
}

#area-formulario {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#area-formulario input,
#area-formulario textarea {
  border: none;
  background: #ffffff;
  font-size: 1rem;
  outline: none;
}

#area-formulario .input-area label {
  font-size: 0.9rem;
  font-weight: 500;
}

#area-formulario .input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5rem;
  background: #ffffff;
  filter: drop-shadow(1.5px 1.5px 1.5px);
  gap: 0.5rem;
}

.input-textarea {
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3rem;
  background: #ffffff;
  filter: drop-shadow(1.5px 1.5px 1.5px);
}

.input-textarea textarea {
  width: 100%;
}

#area-formulario .input-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

#area-formulario .input-button button {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5rem;
  filter: drop-shadow(1px 1px 1px);
  background: #eb8cc5;
  cursor: pointer;
}

/********* AREA - STORE **********/

#area-store {
  background: rgb(240, 54, 165);
  background: linear-gradient(
    90deg,
    rgba(240, 54, 165, 0.43601190476190477) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(240, 54, 165, 0.43601190476190477) 100%
  );
}

.container-store {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

/******* CABEZERA DE LA TIENDA *******/

.header-store {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 20px;
}

.back-button a {
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.back-button a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.principal-tittle {
  font-size: 2.5rem;
}

.principal-tittle span {
  color: #f036a5;
}

/********** MODELADO CARRITO ***********/

.container-icon {
  position: relative;
}

.icon-cart {
  width: 40px;
  stroke: #000;
}

.icon-cart:hover {
  cursor: pointer;
}

.count-products {
  position: absolute;
  top: 50%;
  right: 0;

  background-color: #000;
  color: #ffffff;

  width: 23px;
  height: 23px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cards-products {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #ffffff;
  width: 500px;
  z-index: 1;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
}

.icon-close:hover {
  color: red;
  cursor: pointer;
}

.total-carrito {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.total-carrito h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-carrito .total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.producto-agregado {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-producto-agregado {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.hidden-card {
  display: none;
}

/******* CONTENIDO DE LA TIENDA ********/

.content-store {
  width: 80%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.product-card {
  width: 25%;
  display: flex;
  background-color: rgb(236, 202, 231);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f036a5;
  border-radius: 11px;
}

.product-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card img {
  width: 80%;
  height: 300px;
  object-fit: cover;
}

.card-info {
  width: 100%;
  background-color: #eb55af;
  color: white;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.5px;
  border-radius: 0px 0px 10px 10px;
}

.card-info .name-card {
  font-size: 1.3rem;
}

.card-info .price-card {
  height: 20px;
}

.product-card:hover .card-info .price-card {
  color: rgb(43, 42, 42);
  font-size: 1.2rem;
  transition: 1s all;
}

.card-info .button-card {
  width: 60%;
  color: black;
  border: none;
  background: none;
  text-align: center;
  padding: 8px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 5px;
}

/********* AREA - RECIPES **********/

#recipes-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(240, 54, 165);
  background: linear-gradient(
    90deg,
    rgba(240, 54, 165, 0.43601190476190477) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(240, 54, 165, 0.43601190476190477) 100%
  );
}

.back-button2 {
  position: absolute;
  top: 25px;
  left: 25px;
}

.back-button2 a {
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}

.back-button2 a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.container-recipes {
  margin: 0 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-recipes h1 {
  color: #000000;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.container-recipes .card-recipes {
  position: relative;
  background: #d877d0;
  padding: 0 20px 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
}

.container-recipes .card-recipes input {
  appearance: none;
}

.container-recipes .card-recipes label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container-recipes .card-recipes label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.05);
  transition: transform 1s;
}

.container-recipes .card-recipes:hover label::after {
  color: #333;
}

.container-recipes .card-recipes input:checked ~ label::after {
  transform: rotate(135deg);
  color: #fff;
}

.container-recipes .card-recipes label h2 {
  position: relative;
  font-weight: 600;
  color: #333;
  z-index: 10;
}

.container-recipes .card-recipes .content-card {
  max-height: 0;
  transition: 1s;
  overflow: hidden;
}

.container-recipes .card-recipes input:checked ~ .content-card {
  max-height: 100vh;
}

.container-recipes .card-recipes .content-card p {
  position: relative;
  padding: 10px 0;
  color: #333;
  font-weight: 700;
  z-index: 10;
}

/********* FOOTER **********/

footer {
  width: 100%;
  height: 15vh;
  background-color: #eb8cc5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid rgb(161, 158, 158);
}

.tittle-footer {
  text-align: center;
}

.tittle-footer h2 {
  font-size: 2em;
}

.tittle-footer h2 .span-1 {
  color: #ffffff;
}

.tittle-footer h2 .span-2 {
  color: #e928d9;
}

.container-links {
  display: flex;
  justify-content: space-around;
}

.container-links p {
  font-size: 1.15em;
  font-weight: 500;
}

.container-links ul {
  display: flex;
  list-style: none;
  gap: 1.5em;
}

.container-links ul li a {
  text-decoration: none;
}

.container-links ul li a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  display: inline-block;
  position: relative;
}

.container-links ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.container-links ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-links ul li a:hover {
  color: #ffffff;
}
